@value makeGrey,makeShadow from "../../common/colors.css";

.schedule {
  flex-basis: 46%;
  padding: 0.5em 2em;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background: makeGrey;
  box-shadow: 6px 6px 8px 0px makeShadow;
}

.title {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}

.info {
  font-size: 1rem;
}

@media screen and (max-width: mediaQuery) {
  .schedule {
    flex-basis: 100%;
  }
}
