.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.content {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
