@value makeWhite,makeBlack from "../../common/colors.css";
@value mediaQuery from "../../common/size.css";

.header {
  width: 100%;
  padding: 1em;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo {
  width: 10em;
}

.title {
  margin: 0;
}

.logoutBtn {
  position: absolute;
  right: 3em;
  top: 1.4em;
}

@media screen and (max-width: mediaQuery) {
  .logo {
    width: 8em;
  }
  .logoutBtn {
    right: 1em;
    top: 1em;
  }
}
