@value makePurple,makeDarkPurple,makeLightPurple from "../../common/colors.css";

.login {
  width: 30em;
  height: 30em;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.title {
  color: makeDarkPurple;
  text-align: center;
  font-size: 0.8em;
  margin: 0;
}

.snslist {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.2em;
}

.snsitem {
  margin: 0.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.2rem;
  outline: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: 0;
  border-radius: 0.25rem;
  color: makePurple;
  font-size: 0.8rem;
  font-weight: bold;
  background: #fff;
}

.button:hover {
  background-color: makeLightPurple;
}

.google {
  margin-right: 0.5em;
  width: 16px;
}

.github {
  margin-right: 0.5em;
  color: black;
}
