@value makePurple,makeLightPurple from "../../common/colors.css";

.login {
  border: 1px solid #999;
  width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makeWhite;
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.item {
  margin-bottom: 0.5em;
}

.button {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  outline: 0;
  cursor: pointer;
  border: 0.15rem solid makePurple;
}

.button:hover {
  background-color: makeLightPurple;
}
