@value makeLightGrey,makePurple,makeDarkPurple,makeLightPurple from "../../common/colors.css";

.wrap {
  width: 20em;
  border-radius: 0.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.login {
  width: 100%;
}

.snstitle {
  color: makeDarkPurple;
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.snslist {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.1em;
}

.snsitem {
  margin: 0.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 2.5em;
  font-size: 1.2rem;
  outline: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: 0;
  border-radius: 0.25rem;
  color: makePurple;
  font-size: 0.8rem;
  font-weight: bold;
  background: #fff;
  transition: all 0.5s;
}

.button:hover {
  opacity: 0.8;
  transform: translateY(-0.1em);
}

.google {
  margin-right: 0.5em;
  width: 16px;
}

.github {
  margin-right: 0.5em;
  color: black;
}

.emaillist {
  width: 100%;
  height: 15rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2em;
  background-color: makeLightGrey;
  margin: 0;
}

.emailtitle {
  color: makeDarkPurple;
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5em;
}

.emailitem {
  margin: 0.5em;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
}

.emailinput {
  width: 20em;
  height: 2.5em;
  border: none;
  outline: 0;
}

.inputicon {
  margin-right: 0.5em;
  color: grey;
}

.footer {
  background-color: makeLightGrey;
  border-radius: 0.5rem;
  color: makeLightPurple;
}

.emailbuttonwrap {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.emailbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  font-size: 1.2rem;
  outline: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  background: #8a49cb;
  transition: all 0.5s;
}

.emailbutton:hover {
  opacity: 0.8;
  transform: translateY(-0.1em);
}
