@value makePurple from "common/colors.css";

* {
  /* 테두리를 기준으로 정합니다.*/
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/images/appBackground.svg);
  background-size: cover;
}
