@value makeBlack:#4C4452;

@value makeWhite:#F5F5F5;

@value makePurple:#8a49cb;

@value makeDarkPurple:#440973;

@value makeLightPurple:#AF93C5;

@value makeShinePurple:#C983FF;

@value makeLightYellow:#FEFEDF;

@value makeGrey:#e9ecef;

@value makeLightGrey: #f4f5f7;

@value makeWine:#B47399;

@value makeBlue:#4D5A7A;

@value makeDeepBlue:#2F4858;
