@value makeShinePurple from "../../common/colors.css";

.banner {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(172, 138, 229);
  background: linear-gradient(
    297deg,
    rgba(172, 138, 229, 1) 3%,
    rgba(183, 147, 197, 1) 61%,
    rgba(170, 131, 255, 1) 95%
  );
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #fff;
  border-radius: 1rem;
}

.title {
}

.description {
}
